<include( "../../templates/app-shell.marko")>
	<@title>
		${input.title}
	</@title>
	<@body>
	<div class="container">
		<h1>Hangman: Game of Thrones Edition</h1>

		<h5>Hangman game homework for UCB bootcamp</h5>

		<h3>Table of Contents</h3>
		<ul id="table-of-contents" type="square">
			<li>
				<a href="#">View on Github Pages</a>
			</li>
		</ul>

		<hr class="gradient">

	</div>
</@body>
</include>