<html>

<head>
	<title>Jeffrey Lowy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
	<app-nav/>
	<div class="container">
		<h1>Lead Generator</h1>

		<h5>A sales networking platform integrating Clearbit API to develop sales leads</h5>

		<h3>Table of Contents</h3>
		<ul id="table-of-contents" type="square">
			<li>
				<a href="#">View on Heroku</a>
			</li>
		</ul>

		<hr class="gradient">

	</div>
	<app-footer/>
	<script src="assets/js/index.bundle.js"></script>
</body>

</html>