<macro nav-button(text, url)>
	<a class="nav-button" href=url>
		${text}
	</a>
</macro>

<nav>
	<div class="container">
		<a class="logo nav-left" href="#">
			<img src="" alt="Jeff Lowy">
		</a>

		<div class="buttons nav-right">
			<nav-button text="Home" url="#" />
			<nav-button text="Projects" url="#" />
			<nav-button text="Blog" url="#" />
			<nav-button text="Contact" url="#" />
		</div>
	</div>
</nav>