html,
body {
	box-sizing: border-box;
}

body {
	background: #0a0908;
	color: white;
	font-family: IBMPlexMonoRegular;
	margin: 0;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.container h1 {
	font-family: IBMPlexMonoSemiBold;
}