footer {
	display: block;
	padding: 1rem;
}

footer div.container:before {
	display: block;
	content: "";
	margin-bottom: 12px;
	height: 5px;
	width: 100%;
	background-color: #2D68EE;
	background-image: linear-gradient(60deg, #003098 0%, #1259fe);
}

footer a.social-link {
	margin-right: 12px;
}

footer img.social-icon {
	height: 44px;
}