/* Coolors Exported Palette - coolors.co/003098-061a40-010400-0a0908-fbfef9 */

/* RGB */
@color1: rgba(0, 48, 152, 1);
@color2: rgba(6, 26, 64, 1);
@color3: rgba(1, 4, 0, 1);
@color4: rgba(10, 9, 8, 1);
@color5: rgba(251, 254, 249, 1);

/* Custom colors */
@color6: #ff0063;
@color7: #00ff93;

/* Nav */
@gradient_angle:60deg;
@nav_left:#1259fe;
@nav_right:#003098;

/* Code blocks */
@code_bg: #232323;