section div.container {
	display: grid;
	position: relative; // Minmax to auto-fit the grid-items
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 5px;
}

section div.container div.item {
	position: relative;
	background: @pink;
	height: 200px;
}

div.player {
	text-align: center;
}

hr.gradient {
	border: 0;
	height: 1px;
	background: @coolor_darkblue;
	background-image: linear-gradient(to right, @coolor_darkblue, @coolor_blue, @coolor_darkblue);
}

// This is the blue box that sites to the side.
// section div.container div.item-1 {
// 	// ~ to use an escaped value
// 	grid-column: ~"1 / 2";
// 	grid-row: ~"1 / -1";
// 	background: #2D68EE;
// }