h1 {
	background: -webkit-linear-gradient(60deg, #1259fe 0%, #003098);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	text-transform: uppercase;
	color: @color6;
}

h5 {
	line-height: 1.6em;
}

p {
	line-height: 1.4em;
}

code {
	background: #232323;
	padding: 6px;
	border-radius: 3px;
	color: lime;
}