h1 {
	background: -webkit-linear-gradient(@gradient_angle, @nav_left 0%, @nav_right 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	text-transform: uppercase;
	color: @color6;
}

h5 {
	line-height: 1.6em;
	font-size:1.1em;
	margin: 22px 0;
}

ul#table-of-contents li {
	line-height: 1.4em;
}

p {
	line-height: 1.4em;
	font-size:0.9em;
}

code {
	background: @code_bg;
	padding: 6px;
	border-radius: 3px;
	color: @color7;
}