<div class="container">
	<h1>About me</h1>
	<p>An ambitious problem-solver with a broad range of technical skill sets, specializing in front-end development and CRM database
		management. Seven years experience working in all stages of the development cycle for dynamic websites and applications.
		Versed in numerous web languages including JavaScript, HTML, CSS and PHP. A strong background in of creating logical and
		innovative solutions to complex problems.
	</p>
	<hr class="gradient" />
</div>