<html>

<head>
	<title>Jeffrey Lowy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<app-nav/>
	<div class="container">
		<app-about-short/>
	</div>
	<app-projects/>
	<app-footer/>
	<script src="assets/js/index.bundle.js"></script>
</body>

</html>
