<html>

<head>
	<title>Jeffrey Lowy</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<nav-bar/>
	<div class="container">
		<h1>Title</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis, provident cupiditate totam veritatis commodi
			dolor aperiam nisi reiciendis animi assumenda deserunt consequuntur quia ratione ex, consequatur excepturi! Consequatur,
			excepturi?</p>
	</div>
</body>

</html>