<include("./main-html.marko")>
<@title>
${input.title}
</@title>
<@body>
	<app-nav message="wut" />
	<div class="container">
	testing 1234457789
	</div>

	<script src="assets/js/index.bundle.js"></script>
</@body>
</include>