<include( "../../templates/app-shell.marko")>
	<@title>
		${input.title}
	</@title>
	<@body>
		<div class="container">
			<h1>Guardians of the Galaxy RPG</h1>

			<h5>Simple RPG game with a Guardians of the Galaxy theme.</h5>

			<h3>Table of Contents</h3>
			<ul id="table-of-contents" type="square">
				<li>
					<a href="#">Choosing a character</a>
				</li>
				<li>
					<a href="#">Animating Characters</a>
				</li>
			</ul>

			<hr class="gradient">

		</div>
	</@body>
	</include>